@import 'content';
$width: 8.3333%;

html {
  font-size: 1em;
  color: white;
  height: 100vh;
  width: 100%;
  padding: 0;
  body {
    margin: 0;
    overflow: hidden;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 5px;
    }
    div {
      border-radius: 0;
    }
  }
}
