$blue: #343D5C;
$bluegray: #706D78;
$gray: #9F9F9F;
$offwhite: #EBECE7;
$darkergray: #7A7770;

body {
  font-family: sans-serif;
  @extend .container;
  .container {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  .row {
    @extend .container;
  }
  .offwhite {
    background-color: $offwhite;
    height: 100vh;
  }
  .medium {
    height: 250px;
  }
  .jarvis-img {
    padding-left: 10px;
  }
  .side-bar {
    overflow: hidden;
  }
  .content {
    height: 100vh;
    overflow: auto;
  }

}
